.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.header{
    position: fixed;
    background-color: #e3e4e5;
    color: #999;
    height: 40px;
    width: 100%;
    line-height: 40px;
}

.header .topnav>li{
    float: left;
    margin: 0 20px;
    width: 150px;
    text-align: center;
    height: 40px;
    box-sizing: border-box;
    position: relative;
}
.header .topnav>li:hover{
    background-color: #fff;
    border: 2px solid #ccc;
    border-bottom: none;
    line-height: 36px;
}
.header .topnav>li .submenu{
    text-align: left;
    line-height: 1.5;
    width: 300px;
    display: none;
    position: absolute;
    border: 2px solid #ccc;
    background-color: #fff;
    right: -2px;
    top: 38px;
}
.header .topnav>li:hover .submenu{
    display: block;
}
.header .topnav>li:hover::after{
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: -2px;
    height: 2px;
    left: 0;
    background-color: #fff;
}
.content{
   padding-top: 40px;
}