.clearfix::after{
    display: block;
    content: "";
    clear: both;
}
body{
    color: #333;
}
.main{
    line-height: 1.5;
}
.main .nav{
    background-color: #47464a;
    height: 60px;
    color: #999;
    text-align: center;
    line-height: 60px;
    min-width: 1200px;
}
.main .nav a{
    margin: 0 38px;
}
.main .nav a:hover{
    color: #fff;
}
.main .nav a.selected{
    color: #ef4238;
}
.main .container{
    width: 1120px;
    margin: 39px auto 0;
}
.main .container .choose-area{
    border: 1px solid #e5e5e5;
    padding: 10px;
}
.main .container .choose-area .choose-item{
    padding: 1em 0;
    border-bottom: 1px dashed #e5e5e5;
}
.main .container .choose-area .choose-item.no-line{
    border: none;
}
.main .container .choose-area .choose-item .left{
    float: left;
    width: 60px;
    text-align: center;
    color: #999;
}
.main .container .choose-area .choose-item .right{
    float: left;
    width: 1035px;
}
.main .container .choose-area .choose-item .right li{
    float: left;
    margin: 0 9px;
    padding: 0 4px;
}
.main .container .choose-area .choose-item .right li:hover{
    color: #ef4238;
}
.main .container .choose-area .choose-item .right li.selected{
    background-color: #ef4238;
    color: #fff;
    border-radius: 10px;
}
.main .container .movies{
    margin-top: 30px;
}
.main .container .movies .movie-item{
    float: left;
    width: 160px;
    margin: 10px 32px 10px 0;
}
.main .container .movies .movie-item:nth-child(6n){
    margin-right: 0;
}
.main .container .movies .movie-item .name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: 0 2px;
}
.main .container .movies .movie-item .score{
    color: #ffb400;
    text-align: center;
    line-height: 2.5;
    font-style: italic;
}
.main .container .movies .movie-item .score::first-letter{
    font-size: 1.5em;
}